bin/*
gen/*
*~
*.bak
keystore
keystore.txt

/assets/databases/ocw.db
/assets/.DS_Store
/.DS_Store
/assets/databases/.DS_Store
/JSON/.DS_Store
/JSON NEW/.DS_Store
/JSON NEW/1004.json
/JSON NEW/1019.json
/JSON NEW/1020.json
/JSON NEW/103.json
/JSON NEW/1050.json
/JSON NEW/1064.json
/JSON NEW/108.json
/JSON NEW/1087.json
/JSON NEW/1095.json
/JSON NEW/11.json
/JSON NEW/1106.json
/JSON NEW/1108.json
/JSON NEW/111.json
/JSON NEW/1210.json
/JSON NEW/1215.json
/JSON NEW/1241.json
/JSON NEW/1242.json
/JSON NEW/1249.json
/JSON NEW/1252.json
/JSON NEW/1253.json
/JSON NEW/1259.json
/JSON NEW/1260.json
/JSON NEW/1268.json
/JSON NEW/1279.json
/JSON NEW/1281.json
/JSON NEW/1282.json
/JSON NEW/1284.json
/JSON NEW/1287.json
/JSON NEW/1288.json
/JSON NEW/1289.json
/JSON NEW/1294.json
/JSON NEW/1297.json
/JSON NEW/1305.json
/JSON NEW/1306.json
/JSON NEW/1309.json
/JSON NEW/1311.json
/JSON NEW/1312.json
/JSON NEW/1314.json
/JSON NEW/1317.json
/JSON NEW/1321.json
/JSON NEW/1322.json
/JSON NEW/1328.json
/JSON NEW/1334.json
/JSON NEW/1336.json
/JSON NEW/1341.json
/JSON NEW/1342.json
/JSON NEW/1349.json
/JSON NEW/1353.json
/JSON NEW/1365.json
/JSON NEW/1380.json
/JSON NEW/1381.json
/JSON NEW/1387.json
/JSON NEW/1388.json
/JSON NEW/1393.json
/JSON NEW/1394.json
/JSON NEW/1395.json
/JSON NEW/1397.json
/JSON NEW/1400.json
/JSON NEW/1401.json
/JSON NEW/1404.json
/JSON NEW/1405.json
/JSON NEW/1406.json
/JSON NEW/1409.json
/JSON NEW/1410.json
/JSON NEW/1455.json
/JSON NEW/1460.json
/JSON NEW/1472.json
/JSON NEW/1475.json
/JSON NEW/1501.json
/JSON NEW/194.json
/JSON NEW/240.json
/JSON NEW/295.json
/JSON NEW/336.json
/JSON NEW/359.json
/JSON NEW/40.json
/JSON NEW/414.json
/JSON NEW/445.json
/JSON NEW/459.json
/JSON NEW/484.json
/JSON NEW/5.json
/JSON NEW/511.json
/JSON NEW/512.json
/JSON NEW/515.json
/JSON NEW/522.json
/JSON NEW/527.json
/JSON NEW/54.json
/JSON NEW/548.json
/JSON NEW/575.json
/JSON NEW/599.json
/JSON NEW/614.json
/JSON NEW/713.json
/JSON NEW/736.json
/JSON NEW/771.json
/JSON NEW/787.json
/JSON NEW/795.json
/JSON NEW/810.json
/JSON NEW/856.json
/JSON NEW/88.json
/JSON NEW/925.json
/JSON NEW/987.json
/JSON NEW/schedulewsfas.json